{% extends "base.html" %}

{% block container %}
    {% comment %} 
      parameter passed are lanes, tasks, events, processes, gateways and flows
      which are lists of the corresponding elements
    {% endcomment %}
    {% comment %}
    form with two field for comma separated values for Kendall's W with a submit button
    {% endcomment %}
{#    {{ error }}#}
{#        {% for error_field, error_message in form.errors.items %}#}
{#        {{ error_field|striptags }}: {{ error_message|striptags }}#}
{#        {% endfor %}#}
{#    {{ form.non_field_errors.as_ul }}#}

    <form action="" method="POST">
            {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="OK" />
    </form>






{% endblock %}